body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.loader {
    position: absolute;
    height: 150px;
    width: 150px;
    background: transparent;
    border: solid 10px orange;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 2s linear infinite;
}

@keyframes roatate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* .loader:before {
    content: "";
    
} */